
html
    head
        link(href='/stylesheets/style.css', rel='stylesheet')

        script(src='//ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js')

        script(type='text/javascript').
          var url = '';
          var w = '';
          $(document).ready(function() {
          $.get('/loginfb', function(data) {
          url = data;
          });
          });
          var interval = window.setInterval((function() {
          if (w.closed) {
          window.clearInterval(interval);
          $('#fbpost').show();
          $('#fb-login').hide();
          $('h2').hide();
          }
          }),1000);

    body
      div#navbar
        ul
          if (user)
            li.navlink
              a(href="/profile") Hi, #{userName}
            li.navlink
              a(href="/profile") Profile
            li.navlink
              a(href="/logout") Logout
          else
            li.navlinkRight
              a(href="/login") Login
            li.navlinkRight
              a(href="/signup") Sign Up
          li.navlink
            a(href='/') Home
          li.navlink
            a(href='/mostpopular') Most Popular
          li.navlink
            a(href='/faq') FAQ

        div#wrapper
            div.container
                p.title Results
                table
                    tr
                        td.thumbnail
                        td.link
                            p name
                        td.ingredients
                            p ingredients
                        td
                            p likes
                        td
                        td



                    - for (var i = 0; i < data.length; i++)
                        tr
                          td.thumbnail
                              img(src=data[i].thumbnail)
                          td.link
                              a(href=data[i].href)= data[i].title
                          td= data[i].ingredients
                          td= data[i].numLikes
                            if (user)
                              td
                                button#fb-login(class="smallbutton", onclick="w = window.open(url, 'window', 'status=0,menubar=0,resizable=1');") Fbook
                                form#fbpost(action="/post", method="post", style='display:none;')
                                  input(type="hidden", name="title", value=data[i].title)
                                  input(type='submit', name='submit', value='Share', class="smallbutton")
                              td
                                  form(method="post", action="/recipe/" + data[i]._id)
                                      input(type="hidden", name="_id", value=data[i]._id)
                                      input(type='submit', name='', value='add', class="smallbutton")
                              td
                                  form(method="post", action="/add_like/" + data[i]._id)
                                      input(type="hidden", name="_id", value=data[i]._id)
                                      input(type='submit', name='', value='like', class="smallbutton")


            div.right
                p#name drinkr
